<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="instanceName" value="MACAIR\SQLEXPRESS"/>
    <add key="username" value="sa"/>
    <add key="password" value="password"/>
    <add key="dbname" value="minismart"/>
    <add key="cuscode" value="Z6AMX"/>
    <add key="nodeA" value="udon-it.com"/>
    <add key="nodeB" value="udon-it.com"/>
  </appSettings>
</configuration>